#pic4 { 
    height:130px;
    float:left;
    position:static;
}
#pic3 { 
    height:130px;
    float:left
    position:static;
}
#pic2 { 
    height:130px;
    float:left;
    position:static;
}


#content { 
 height:100%;
 background-color:black
  color:white;
}
  



#differentshoes {
    background:black;
    color:white;
    float:left;
    height:100%;
    font-size:16px;
} 
#shoes { 
    background:black; 
    color:white;
    font-size:50;
    border-width:2px; 
    font-style:oblique; 
    position:static; 
   text-align:center;
  height:60px;
width:100%px;
}  
#instruction { 
    color:white;
    background:black; 
    text-align:left; 
  width:500px;
}  
#shoenames { 
    background:black;
    
   color:white;
    height:5%;
    font-size:18px; 
    text-align:center;
    width:65%;
    float:right;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
  background-color:black;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color:firebrick;
  color: white;
}

li a:hover:not(.active) {
  background-color:white;
  color:firebrick;
}
